/* buttons.scss */
.btn {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 0;
  letter-spacing: 0.15em;
  border-radius: 3px;
  padding: 2em;
}

.btn-small {
  font-size: 1.2em;
  line-height: 0;
  letter-spacing: 0.1em;
  border-radius: 3px;
  padding: 1.5em 3em;
}

.btn-full {
  width:100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: relative;

  .preloader-svg-wrapper {
    position: absolute;
    left:0;
    right:0;
    width:100%;
    margin-top: -0.5em;

    img {
      height:1em;
    }
  }
}