<form ng-submit="sm.submitReset(sm.reset)">
  <material-input
    name="password"
    label="New Password"
    type="password"
    pattern=".{8,}"
    validate="true"
    required="true"
    ng-model="sm.reset.password">
  </material-input>
  
  <material-input
    name="password"
    label="Confirm Password"
    type="password"
    pattern=".{8,}"
    validate="true"
    required="true"
    ng-model="sm.reset.confirm">
  </material-input>

  <action-button
    default-message="Update"
    loading-state="sm.loading">
  </action-button>
</form>
